body{
    background:#a3dde6;
}
input[type="file"]{
    position: absolute;
    top: -500px;
}
img{
    width:100px;
    padding:4px;
    border:1px solid #aaa;
}
progress{
    width:98%;
    bottom:5px;
    left:10px
}
.pull-right{
    float:right !important;
}
tr{
    padding-top:5px;
    background:#fff;
}